

/* Formularios */
.container_form{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form{
    width: 60%;
}

.description{
    resize: none;
}

/* Index */
.title{
    text-align: center;
    font-size: 4em;
}

.btn_new{
    margin-left: 30px;
}

.books_container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img{
    width: 100%;
}