header{
    position: sticky;
    top: 0px;
    z-index: 1;
}

.nav_height{
    padding: 20px;
}

/* Formularios */
.container_form{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form{
    width: 60%;
}

.description{
    resize: none;
}

@media screen and (max-width: 700px) {
   .form{
        width: 95%;
   }
}

/* Index */
.title{
    text-align: center;
    font-size: 4rem;
    margin: 30px;
}

.btn_new{
    margin-left: 20px;
}

.books_container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card_book, .card_author{
    width: 40%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px;
}

.img{
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.alerta{
    width: 60%;
}

@media screen and (max-width: 700px) {
    .btn_new{
        font-size: 1rem;
    }

    .books_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card_book, .card_author{
        width: 95%;
        margin-top: 20px;
    }

    .alerta{
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .card_book, .card_author{
        margin-top: 20px;
    }
}

@media screen and (max-width: 265px) {
    .buttons{
        padding: 0;
    }
}


/* Show */

.section{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure_show{
    width: 60%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.phrase{
    margin:30px;
}

.tb_width{
    width: 70%;
}

.img_pic{
    width: 50%;
}

.subtitle{
    margin-top: 30px;
    text-align: center;
}

.author_name{
    text-align: center;
}

@media screen and (max-width: 700px) {
    .figure_show{
        width: 95%;
        flex-direction: column;
        justify-content: center;
    }

    .img_pic{
        width: 100%;
    }

    .phrase{
        text-align: center;
    }

    .tb_width{
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .tb_width{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 375px) {
    .tb_width{
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 335px) {
    .tb_width{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 300px) {
    .tb_width{
        font-size: 0.4rem;
    }
}

/* Welcome */
.sub_subtitle{
    text-align: center;
    margin: 30px 10px;
}

.img_welcome{
    width: 100%;
}

.carusel_container{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carusel{
    width: 50%;
    border: 2px solid;
    box-shadow: 0px 10px 10px;
}

.text_carusel{
    color: #000;
    font-weight: bold;
}

.title_carusel{
    color: #000;
}

.card_welcome{
    margin-top:30px;
    box-shadow: 0px 10px 10px;
}

@media screen and (max-width: 1000px) {
    .carusel{
        width: 85%;
    }

    .cap_carusel{
        left: auto;
        right: auto;
        bottom: 10px;
        margin: 10px;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    .card_welcome, .carusel{
        width: 95%;
    }

    .text_carusel{
        font-size: 0.9rem;
    }

    .title_carusel{
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .title_welcome{
        font-size: 3rem;
    }

    .subtitle{
        margin: 0 10px;
    }

    .card_welcome{
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .text_carusel{
        font-size: 0.8rem;
    }

    .title_carusel{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 365px) {
    .title_welcome{
        font-size: 2rem;
    }

    .subtitle{
        font-size: 1.5rem;
        text-align: left;
    }

    .sub_subtitle{
        font-size: 1rem;
        text-align: left;
    }

    .text_carusel{
        font-size: 0.7rem;
    }

    .title_carusel{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 315px) {
    .text_carusel{
        font-size: 0.6rem;
    }

    .title_carusel{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 280px) {
    .title_welcome{
        font-size: 1.5rem;
    }

    .subtitle{
        font-size: 1rem;
    }

    .text_carusel{
        font-size: 0.5rem;
    }

    .title_carusel{
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 245px) {
    .text_carusel{
        font-size: 0.4rem;
    }

    .title_carusel{
        font-size: 0.5rem;
    }
}



